<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Career</title>
</head>
<body>
    <section class="sectionC">
    <div>
        <h1>Career</h1>
    </div>
    <main>
        <div class="positionTwo">
        <p>
            Born in March 2, 1983. He is a South Korean professional go player 9th dan.1 As of February 2016, he ranked second in international titles (18), only behind Lee Chang-ho (21). He is the fifth youngest (12 years and 4 months) to become a professional go player in South Korean history, behind Cho Hun-hyun (9 years and 7 months), Lee Chang-ho (11 years and 1 month), Cho Hye-yeon (11 years 10 months) and Choi Cheol-han (12 years 2 months). His nickname is "The Strong Stone" (Ssen-dol). In March 2016, he played a remarkable series of games against AlphaGo that ended at 1-4.2.
            On November 19, 2019, Lee announced his retirement from professional gaming, stating that he could never be the best go player due to the growing dominance of artificial intelligence (AI). Lee referred to her as "an entity that cannot be defeated".</p>
    
        </div>
        <button type="button" class="btn green"><a href="/home">Back</a></button>
    </main>

</section>
</body>
</html>