<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>LeeSedol</title>
</head>

<body>

    <section class="sectionHome">
            <div class="position">
                <div class="profileSection">
                    <h1>Lee Sedol (<spam>이세돌</spam>)</h1>
                <div class="block">
                    <ul>
                        <li><a href="/career">Career</a></li>
                        <li><a href="/titles">Mundial Titles</a></li>
                        <li><a href="/style">The Style</a></li>
                        <li><a href="/galery">Gallery</a></li>
                    </ul>
                </div>
        </div>
    </section>
</body>

</html>