<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section class="sectionC">
        <div>
            <h1>Style</h1>
        </div>
        <main>
            <div class="positionTwo">
            <p>
                Lee's playing style is that of a constant fighter. His aim is to make games as complicated as possible as early as possible because of his confidence in his judgment of the relative size of the various possibilites that present themselves during fighting and his superior ability to read out complicated situations quickly. He avoids giving his opponents opportunities to make good plays even if it means his own position is made less secure by his move.Another factor in Lee's dominance is his ability to put psychologcal pressure on opponents. An important way of doing this is his tendency to make unexpected plays in complicated situations. In other words, Lee is not risk averse. Often his plays seem not to be the best choice at the time and hence make his opponents worry that they have overlooked something.</p>
        
            </div>
            <button type="button" class="btn green"><a href="/home">Back</a></button>
        </main>
    
    </section>
</body>
</html>