<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
        <section class="sectionC">
        <div>
            <h1 id="ia">The big winner</h1>
        </div>
        <main>
            <div class="positionTwo">
            <p>
                
<div class="container table-responsive py-5"> 
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Wins</th>
          <th scope="col">Runners-up</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Fujitsu Cup</td>
          <td>3 (2002–2003, 2005)</td>
          <td>1 (2010)</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>LG Cup</td>
          <td>2 (2003, 2008)</td>
          <td>2 (2001, 2009)</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Samsung Cup</td>
          <td>	4 (2004, 2007–2008, 2012)</td>
          <td>1 (2013)</td>
        </tr>
         <tr>
          <th scope="row">4</th>
          <td>World Oza</td>
          <td>2 (2004, 2006)</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Asian TV Cup</td>
          <td>4 (2007, 2008, 2014, 2015)</td>
          <td>2 (2009, 2017)</td>
        </tr>
      </tbody>
    </table>
    </div>
        
            </div>
            <button type="button" class="btn green"><a href="/home">Back</a></button>
        </main>
</body>
</html>